.forecast-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-top: 10px;
}

.forecast-item {
    flex: 1;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
    padding: 8px 4px;
    border-radius: 12px;
    text-align: center;
    font-size: 0.75rem;
}

.forecast-item img {
    width: 35px;
    height: 35px;
    display: block;
    margin: 0 auto;
}
